
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1em;
    grid-template-areas: 
            "header header"
            "main main"
            "footer footer";
    text-align: center;
    margin-top: 200px;
    
}
header{
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}


main{
    grid-area: main;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
   
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
i {
    width: 35px;
}
li{
    display: block;
    list-style: none;
}

footer{
    grid-area: footer;
    padding: 4rem 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: #f0a056;
    text-align: center;
}    
    footer ul li{
        padding: 2px;
    }

.imagen-servicios{
        background-image: url(../images/clinicaveterinaria.jpg);
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        background-size: cover; 
        padding-top: 230px; 
    }
nav {
    justify-content: space-between;
    align-items:center;

}
nav ul{
    margin: 0;
    padding: 0;
    
 }
        nav ul li a{
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            }

header, nav, nav ul {
    display: flex;
}

div.formulario{
    grid-area: main;
}

