/*  PAGINACION */
div.pagina {
    display: grid;
    grid-template-areas:
    'nav header header header header header header'
    'nav main main main main main main'
    'footer footer footer footer footer footer footer'; 
}

.nav-collapse{
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'main main main main main main main'
    'footer footer footer footer footer footer footer';
}

.invisible{
    display: none;
}

/*           --------------------------------         FOOTER        ---------------------------------                          */
footer{
    display: flex;
    grid-area: footer;
    justify-content: center;
    padding: 20px 0px 5px 0px;
    background-color: #1c1c1c;
}

footer div h5{
    color: #c7c7c7;
}